
.topContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 1fr;
  align-items: center;
}

.topContainer h2 {
  grid-column: span 2;
}

.todoSearch {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 16px;
  position: relative;
  margin-bottom: 20px;
  grid-row: 2;
  grid-column: 1 / -1;
}

.todoSearch :global(svg) {
  position: absolute;
  top: 27px;
  left: 25px;
  stroke: var(--blue);
}

.todoSearch p {
  margin-top: 10px;
}

input.todoSearchInput {
  padding-left: 35px;
}

.addTodo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.addTodoEmpty {
  justify-content: center;
}

.addTodoForm {
  flex-basis: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.addTodoForm__label {
  flex-basis: 100%;
  display: block;
  margin-bottom: 5px;
}

.addTodoForm__button {
  width: 100%;
  flex-basis: 100%;
  margin: 10px 0;
}

.counter {
  margin: 10px 0;
  text-align: center;
}